<div>
	<md-input-container md-no-float class="md-primary" style="width: 60%; margin: 0 auto;">
		<input placeholder="Search" ng-model="term" ng-keyup="$event.keyCode==13 && enter(term)" ng-change="enter(term)">
	</md-input-container>
	<md-card ng-repeat="item in data" layout="row" layout-padding flex>
	<md-card-content>
		<div layout="column">
			<h2 class="md-title">{{item.name}}</h2>
			<p ng-if="item.author">{{item.author.name}}</p>
			<p>version {{item.latest}} (latest)</p>
		</div>
	</md-card-content>
</md-card>
</div>