<div>
	<md-input-container md-no-float class="md-primary" style="width: 60%; margin: 0 auto; padding:20px 0;">
		<input placeholder="Search" ng-model="term" ng-keyup="$event.keyCode==13 && enter(term)" ng-change="enter(term)">
	</md-input-container>

	<div layout="row" layout-wrap style="width:80%; margin-left: auto; margin-right: auto;">
		<md-card ng-repeat="item in data" ng-click="locate('repo/'+item.name)" flex="30" class = "md-whiteframe-z3" style="cursor: pointer;">
			<md-card-content>
					<h2 class="md-display-1">{{item.name}}</h2>
					<p ng-if="item.author">{{item.author.name}}</p>
					<p style="margin-bottom:5px">version {{item.latest}} (latest)</p>
			</md-card-content>
		</md-card>
	</div>
</div>
