<div layout="row" layout-wrap>
	<md-card flex>
		<md-card-content layout="row">
			<div layout="column" flex="60">
				<h1 class="md-display-2" class="md-title">{{data.name}}</h1>
				<p class="package-description">{{data.description}}</p>
				<div marked="readmeText" class="markdown-body">
				</div>
			</div>
			<div layout="column" flex="40">
				<h1>&nbsp;</h1>
				<div class="autoselect-wrapper">
					<i class="material-icons">input</i><input type="text" value="cpm install {{data.name}}" readonly="">
				</div>
				<div>                                   	
					<b>version:</b> {{data['dist-tags'].latest}}
				</div>
				<div>                                   	
					<b>author:</b> {{data.author?data.author.name:'-'}}
				</div>
				<div>                                   	
					<b>license:</b> {{data.license}}
				</div>
				<div>                                   	
					<b>github:</b> <a ng-if="data.homepage" href="{{data.homepage}}">link</a>
				</div>
			</div>
		</md-card-content>
	</md-card>
</div>
